<div class="container">
    <div class="container" style="height: 30px;">
        <br>
        <ul class="nav d-flex mb-3">
            <li class="p-2 ml-md-5 mr-auto nav-item">
                <p class="font-weight-bold">{{mc.currentUserName}}</p>
            </li>
        </ul>
    </div>
    <hr>

    <div class="col-md-12">
        <div class="d-flex justify-content-center h-100">
            <div class="searchbar">
                <input ng-model="mc.params.usernameSearch" class="search_input" type="text" name="" placeholder="Search...">
                <a ng-click="mc.search()" class="search_icon" style="cursor: pointer;"><i class="fas fa-search"></i></a>
            </div>
        </div>
        <div class="offset-md-3 col-md-6">
            <div class="offset-md-3 col-md-6 text-center" style="border-bottom: 1px solid #F5F5F5; line-height: 15px; cursor: pointer;" ng-repeat="person in mc.found">
                <h5 ng-click="mc.showMessages(person.user_id)" style="display: inline-block">{{person.username}}</h5>
            </div>
        </div>
        <div class="offset-md-2 col-md-8">
            <h4>Messages</h4>
            <hr>
        </div>
        <div class="offset-md-3 col-md-6 text-center" style="word-break: break-all; border-bottom: 1px solid #F5F5F5; line-height: 15px; cursor: pointer;" ng-repeat="dict in mc.newestMessages">
            <h5 ng-click="mc.showMessages(dict.from.user_id)" style="display: inline-block">{{dict.from.username}}: {{dict.message.content}}</h5>
        </div>
    </div>

    <div class="container fixed-bottom">
        <div class="col-md-3">
            <button type="button" ng-click="mc.goExplore()" class="btn btn-light btn-block"><i class="fas fa-home"></i></button>
        </div>
        <div class="col-md-3">
            <button type="button" ng-click="mc.goSearch()" class="btn btn-light btn-block"><i class="fas fa-search"></i></button>
        </div>
        <div class="col-md-3">
            <button type="button" ng-click="mc.goEvents()" class="btn btn-light btn-block"><i class="fas fa-heart"></i></button>
        </div>
        <div class="col-md-3">
            <button type="button" ng-click="mc.goUser()" class="btn btn-light btn-block"><i class="fas fa-user"></i></button>
        </div>
    </div>
</div>