<div>
    <div class="container" style="height: 30px;">
        <br>
        <ul class="nav d-flex mb-3">
            <li class="p-2 ml-md-5 mr-auto nav-item">
                <p class="font-weight-bold">{{uc.user.username}}</p>
            </li>
            <li class="nav-item">
                <a class="nav-link p-2"><i class="far fa-clock"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link p-2"><i class="far fa-bookmark"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link p-2"><i class="fas fa-list-ul"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link p-2" ng-click="uc.goSearch()"><i class="fas fa-user-plus"></i></a>
            </li>
            <li class="nav-item">
                <a class="mr-md-5 ml-auto nav-link p-2"><i class="fas fa-ellipsis-h"></i></a>
            </li>
        </ul>
    </div>
    <hr>
    <div class="container">
        <!-- PRVI DEO -->
        <div class="row col-md-12">
            <div class="col-md-2 text-center">
                <img ng-click="uc.chooseAction('uploadIcon')" src="{{uc.iconPath}}" ngf-drop ngf-select ng-model="files" ngf-drag-over-class="'dragover'" ngf-multiple="true" 
                ngf-allow-dir="true" accept="image/*,application/pdf" ngf-pattern="'image/*,application/pdf'" class="rounded-circle" 
                alt="format nije dobar" style="border: 1px solid #808080; max-height: 6em; max-width: 4em; cursor: pointer;">
            </div>
            <div class="col-md-10">
                <div class="row col-md-12 h-50">
                    <div class="col-md-4 text-center">{{uc.uploads.length}} posts</div>
                    <div ng-click="uc.goFollowers()" class="col-md-4 text-center" style="cursor: pointer;">{{uc.followers.length}} followers</div>
                    <div ng-click="uc.goFollowings()" class="col-md-4 text-center" style="cursor: pointer;">{{uc.followings.length}} following</div>
                </div>
                <div class="row col-md-12 h-50">
                    <div class="col-md-5">
                        <button type="button" class="btn btn-light btn-block">Promote</button>
                    </div>
                    <div ng-click="uc.editProfile()" class="col-md-5">
                        <button type="button" class="btn btn-light btn-block">Edit Profile</button>
                    </div>
                    <div ng-click="uc.deleteUser()" class="col-md-1">
                        <button type="button" class="btn btn-light btn-block"><i class="fas fa-trash-alt"></i></button>
                    </div>
                    <div class="col-md-1">
                        <button type="button" ng-click="uc.logout()" class="btn btn-light btn-block"><i class="fas fa-sign-out-alt"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <!-- ------------------ -->
        <!-- DRUGI DEO -->
        <div class="p-5 col-md-9 text-left">
            <p class="font-weight-bold">{{uc.user.real_name}}</p>
            <p>Birthday: {{uc.user.birth_date}}</p>
            <p>From: {{uc.city}}</p>
        </div>
        <!-- ------------------ -->
        <!-- TRECI DEO -->
        <div class="col-md-12 text-center">
            <hr>
            <button ng-click="uc.showEmailAddress()" type="button" class="btn btn-link btn-block nounderline">Email</button>
            <h5 ng-if="uc.showEmail">{{uc.user.email}}</h5>
            <hr>
        </div>
        <!-- ------------------ -->
        <!-- CETVRTI DEO -->
        <div class="col-md-12 row d-flex justify-content-around">
            <div class="p-2" style="cursor: pointer;"><i class="fas fa-ellipsis-h"></i></div>
            <div class="p-2" style="cursor: pointer;"><i class="fas fa-list"></i></div>
            <div class="p-2" style="cursor: pointer;"><i class="far fa-star"></i></div>
            <div class="p-2" style="cursor: pointer;"><i class="fas fa-users"></i></div>
        </div>
        <!-- ------------------ -->
        <!-- PETI DEO -->
        <div ng-mouseleave="uc.showPosts()" class="col-md-12 row text-center">
            <div ng-if="uc.showUploads" class="mt-5 mb-5 col-md-4" style="height: 30em; width: 30em; text-align: center;" ng-repeat="upload in uc.uploads">
                <hr>
                <img ng-right-click="decrement('true', upload)" ng-click="uc.seePost(upload.data.post_id, upload.data.user_id)" src="users/{{uc.user.username}}/posts/{{upload.urls[upload.show]}}" class="rounded" alt="format nije dobar" style="max-height: 30em; max-width: 20em; cursor: pointer;">
                <hr>
                <div class="row" ng-if="!upload.onePage">
                    <div class="offset-md-1 col-md-5">
                        <button type="button" ng-click="uc.changePic($index, 'toLeft')" class="btn btn-light btn-block"><i class="fas fa-chevron-left"></i></button>
                    </div>
                    <div class="col-md-5">
                        <button type="button" ng-click="uc.changePic($index, 'toRight')" class="btn btn-light btn-block"><i class="fas fa-chevron-right"></i></button>
                    </div>
                </div>
                <hr ng-if="!upload.onePage">
            </div>
            <div ng-if="!uc.showUploads" class="mb-5 col-md-12" style="height: 80em; width: 100%; text-align: center;">
                <hr>
                <img ng-right-click="decrement('false', upload)" ng-click="uc.seePost(uc.currentUpload.data.post_id, uc.currentUpload.data.user_id)" src="users/{{uc.user.username}}/posts/{{uc.currentUpload.urls[uc.currentUpload.show]}}" class="rounded" alt="format nije dobar" style="max-height: 60em; max-width: 40em; cursor: pointer;">
                <hr>
                <h5>Number of comments: {{uc.currentUpload.numberOfComments}}</h5>
                <h5>Number of likes: {{uc.currentUpload.numberOfLikes}}</h5>
                <h5>{{uc.currentUpload.data.caption}}</h5>
                <h5 ng-click="uc.deletePost(uc.currentUpload.data.post_id)" class="text-right" style="cursor: pointer;"><i class="fas fa-trash-alt"></i></h5>
                <div class="row" ng-if="!uc.currentUpload.onePage">
                    <div class="offset-md-3 col-md-3">
                        <button type="button" ng-click="uc.changePic($index, 'toLeft')" class="btn btn-light btn-block"><i class="fas fa-chevron-left"></i></button>
                    </div>
                    <div class="col-md-3">
                        <button type="button" ng-click="uc.changePic($index, 'toRight')" class="btn btn-light btn-block"><i class="fas fa-chevron-right"></i></button>
                    </div>
                </div>
                <hr ng-if="!uc.currentUpload.onePage">
            </div>
        </div>
        <!-- ------------------ -->
    </div>

    <div class="container fixed-bottom">
        <div class="offset-md-1 col-md-2">
            <button type="button" ng-click="uc.goExplore()" class="btn btn-light btn-block"><i class="fas fa-home"></i></button>
        </div>
        <div class="col-md-2">
            <button type="button" ng-click="uc.goSearch()" class="btn btn-light btn-block"><i class="fas fa-search"></i></button>
        </div>
        <div class="col-md-2">
            <div ng-click="uc.chooseAction('uploadPost')" ngf-drop ngf-select ng-model="files" class="btn btn-light btn-block" ngf-drag-over-class="'dragover'" 
            ngf-multiple="true" ngf-allow-dir="true" accept="image/*,application/pdf" ngf-pattern="'image/*,application/pdf'">
                <i class="far fa-plus-square"></i>
            </div>
            <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
        </div>
        <div class="col-md-2">
            <button type="button" ng-click="uc.goEvents()" class="btn btn-light btn-block"><i class="fas fa-heart"></i></button>
        </div>
        <div class="col-md-2">
            <button type="button" ui-sref="user" class="btn btn-light btn-block"><i class="fas fa-user"></i></button>
        </div>
    </div>
</div>